@font-face {
    font-family: 'Sharp Grotesk';
    src: url('assets/fonts/SharpGroteskBold05.woff2') format('woff2'),
        url('assets/fonts/SharpGroteskBold05.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Grotesk Book';
    src: url('assets/fonts/SharpGroteskBook25.woff2') format('woff2'),
        url('assets/fonts/SharpGroteskBook25.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sharp Grotesk Book 18';
    src: url('assets/fonts/SharpGroteskBook18-Regular.woff2') format('woff2'),
        url('assets/fonts/SharpGroteskBook18-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sharp Grotesk Light';
    src: url('assets/fonts/SharpGroteskLight25.woff2') format('woff2'),
        url('assets/fonts/SharpGroteskLight25.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Giga';
    src: url('assets/fonts/GrtskGiga-Bold.woff2') format('woff2'),
        url('assets/fonts/GrtskGiga-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
        font-family: 'TRY Grtsk Variable';
    src: url('assets/fonts/TRYGrtskVariable.woff2') format('woff2'),
        url('assets/fonts/TRYGrtskVariable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



// @font-face {
//     font-family: 'Alternate Gothic No3 D';
//     src: url('assets/fonts/AlternateGotNo3D.woff2') format('woff2'),
//         url('assets/fonts/AlternateGotNo3D.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

////////////////////////////////
// Text Styles
////////////////////////////////


h1,
h2,
h3,
h4 {
    // font-family: 'Sharp Grotesk', sans-serif;
    // margin-bottom: 0;
}

h1 {
    @include fluid-type(29, 60, 480, 1600);
    // letter-spacing: 0;
    // line-height: .9em;
    // font-weight: 800;
}

h2 {
    @include fluid-type(22, 60, 480, 1600);
    font-family: 'Grtsk Giga', sans-serif;
    font-weight: bold;
    line-height: 1.25em;
}

h3 {
    @include fluid-type(18, 29, 480, 1600);
    font-family: 'Sharp Grotesk Book';
    font-weight: bold;
    line-height: 1.45em;
}

h4 {
    @include fluid-type(29, 33, 480, 1440);
    // font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h5 {
    @include fluid-type(29, 33, 480, 1440);
    font-family: 'Alternate Gothic No3 D', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Sharp Grotesk Book 18', sans-serif;
    color: white;
    @include fluid-type(16, 21, 480, 1440);
    &.try {
        font-family: 'TRY Grtsk Variable', sans-serif;
    }
    &.lead {
        @include fluid-type(18, 24, 480, 1440);
        font-family: 'Sharp Grotesk Book', sans-serif;
    }
    &.small {
         @include fluid-type(14, 18, 480, 1440);
    }
}

a.orange {
    text-decoration: none;
    &:hover {
        color: white;
    }
}

.try-bld {
     font-family: 'Grtsk Giga', sans-serif!important;
}

.social a {
     @include fluid-type(14, 16, 480, 1440);
}

a {
    &.white {
        &:hover {
            color: $orange!important;
        }
    }

    &.sapphire {
       display: table;
       position: relative;
       span {
        position: relative;
        margin-bottom: 8px;
                &:before {
                    content: '';
                    height: 2px;
                    width: 100%;
                    background-color: $sapphire;
                    position: absolute;
                    left: 0;
                    bottom: -4px;

                }
                &:after {
                    content: '';
                    height: 2px;
                    width: 0;
                    background-color: $orange;
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    transition: all .5s ease;
                }
            }    
                &:hover {
                    text-decoration: none;
                    span {
                        &:after {
                            width: 100%;
                            transition: all .5s ease;
                        }
                    }
                }

                // @include media-breakpoint-down(md){
                //     display: inline-block;

                // }
            }

}

button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: transparent;
}

button:focus {
    outline: 0px solid #fff;
    // outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


strike {
     text-decoration: line-through;
    -webkit-text-decoration-line: line-through;
   text-decoration-color: $orange;
}

.strike {
  // font-size: 4em;
  // line-height: 1em;
  position: relative;
      &::after {
      border-bottom: 0.125em solid $orange;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      width: 0%;
      top: 50%;
    }
 &.active {
    &::after {
        width: 100%;
        transition: width 1s ease;
    }
 }   
}


.anim-brack-strike {
  display: inline-block;
  // color: $teal;
  &:before {
    content: '[';
    display: inline-block;
    opacity: 0;
    transform: translateX(100%);
  }
  &:after {
    content: ']';
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
  }
  &.active {
    transform: rotateY(0);
    transition: all 1s ease;
    color: unset;
     &:before, &:after {
       transform: translateX(0);
       opacity: 1;
       transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1) .5s, opacity 1s ease .5s, color .5s ease;
     }
  }
}

@keyframes colorblink {
    0%{
        color: white;
    }
    50% {
        color: $orange;
    }
    100% {
        color: white;
    }
}

.thrive {

    // opacity: 0;
    // transform: translateY(100px);
    display: inline-block;
    // color: $orange;
    &.active {
        animation: colorblink 4s ease 1;
        // opacity: 1;
        // transform: translateY(0);
        transition: all 1s ease;
    }
}
// Form stuff

