////////////////////////////////
// Main Nav
////////////////////////////////
.home {
	// padding-top: 40px;
}


header {
	#main-nav {
		z-index: 100;
	}
	nav {	
		top: 0;
		z-index: 1000!important;
		// position: absolute!important;
		width: 100%!important;
		.menu-item {
			list-style-type: none;
			a {
				@include fluid-type(24, 40, 480, 1600);
				padding: .0rem 0rem;
				color: $green;
				font-family: 'Sharp Grotesk Book', sans-serif;
				font-weight: 600;
				letter-spacing: .05em;
				text-transform: lowercase; 
				position: relative;
				transform: translateX(0);
				transition: transform .5s ease;

				// &:hover {
				// 	color: $green;
				// }
				&:before {
						content: '';
						width: 0;
						height: 3px;
						background-color: #e76625;
						display: inline-block;
						position: relative;
						margin-right: 0px;
						// right: 104%;
						// top: 50%;
						transform: translateY(-8px);
						transition: all .5s ease;
					}
			}
			&.active, &:hover {
				a {
					color:  $green;
					transform: translateX(46px);
					transition: transform .5s ease;
					text-decoration: none;
					&:before {
						content: '';
						width: 36px;
						height: 3px;
						margin-right: 8px;
						background-color: #e76625;
						display: inline-block;
						// position: absolute;
						// left: -46px;
						// top: 50%;
						transition: all .5s ease;
					}
				}
			}
		}
	



	}


		@include media-breakpoint-down(md){


		   #main-menu  {
		        position: fixed;
		        top: 0;
		        bottom: 0;
		        right: -90%;
		        padding-top: 30px;
		        padding-left: 30px;
		        padding-right: 30px;
		        padding-bottom: 15px;
		        height: 100vh;
		        width: 90%;
		        background-color: black;
		        transition: right 1s ease;
		        &.collapse:not(.show) {
		        	display: block!important;
		        	width: 100%!important;
		        }
		    }

		    .navbar-toggler {
		    	margin-top: 3px;
		    }


		    .navbar-toggler.open ~ div > #main-menu{
		        width: 90%;
		        height: 100vh;
		        right: 0;
		        transition: right 1s ease;
		        // transition-delay: 0;
		    }
		}

}

////////////////////////////////
// Footer
////////////////////////////////

footer {
}
////////////////////////////////
// 
////////////////////////////////



