
.t1 {
  transition-delay: .25s!important;
}
.t2 {
  transition-delay: .5s!important;
}
.t3 {
  transition-delay: .75s!important;
}
.t4 {
  transition-delay: 1s!important;
}
.t5 {
  transition-delay: 1.25s!important;
}
.t6 {
  transition-delay: 1.5s!important;
}
.t7 {
  transition-delay: 1.75s!important;
}



.lazy {
  opacity: 0;
  background-position: center!important;
  background-size: cover!important;
  &.lazy-loaded {
    opacity: 1;
    transition: opacity .75s ease .15s;
  }
  &.contain {
    background-size: contain!important; 
    background-position: top center!important;
    background-repeat: no-repeat;
  }
}






