///////////////////////
// Buttons
///////////////////////


.white {
	color: white!important;
}


.page-directory {

.filter-flex {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    span.title{
	        font-size: 30px;
	        color: black;
	        font-family: 'Sharp Grotesk Book', sans-serif;
	        padding-bottom: 0;
	    }

	    @include media-breakpoint-down(md){ 
	    	display: block;
	    }
	}

	.title.sort {
		@include media-breakpoint-down(sm){
	        font-size: 20px!important;
	    }
	}

	.select-box {
	    display: block;
	    width: 100%;
	}
	.selectric-wrapper {
	    // display: inline-block;
	}
	.selectric {
	    width: 100%;
	    border: 0px solid #DDD;
	    border-radius: 0px;
	    background: transparent;
	    position: relative;
	    overflow: hidden;
	    .label {
	        font-size: 30px;
	        color: $orange;
	        font-family: 'Sharp Grotesk Book', sans-serif;
	        overflow: visible;
	        &:hover {
	            color: $sapphire;
	            
	        }
	         @include media-breakpoint-down(md){
	        		margin-left: 0;
	        }
	        @include media-breakpoint-down(sm){
	        	font-size: 20px!important;
	        }
	    }
	    .button {
	    	display: none;
	    }
	}
	.selectric-items {
		.selectric-scroll {
			overflow: visible;
		}
	    position: absolute;
	    top: 100%;
	    left: 0;
	    // background: rgba(black, .9);
	    border: 0px;
	    z-index: -1;
	    background-color: transparent;
	    box-shadow: none;
	    li {
	        font-size: 30px;
	        color: $orange;
	        padding: 0;
	        span {
	        	padding: 10px 10px;
	        	background-color: black;
	        	display: inline-block;
	        }
	        &.highlighted {
	            background: transparent;
	            color: $yellow;
	        }
	        &:hover {
	            background: transparent;
	            color: $yellow;
	        }
	        @include media-breakpoint-down(sm){
	        	span {	
	        		font-size: 20px!important;
	        	}	
	        }
	    }
	}

	#ct_posts_wrap {
		a.sapphire {
			margin-bottom: 8px;
		}
		@include media-breakpoint-down(sm){
			.social {
				justify-content: space-between;
    			align-items: center;
    			display: flex;
				a {
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
		}
		@media only screen and (max-width: 400px) {
			.social {
    			display: block;
				a {
					display: block;
					width: 100%;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}

	}
}




///////////////////////////////////
// Custom Loaders
//////////////////////////////////
@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.spinner {
	height: 50px;
	width: 50px;
	display: none;
	animation: spin 5s linear infinite;
	background-image: url(assets/images/icons/spinner.svg);
	background-size: contain;

}

footer {
	.page-spinner.lazy {
		position: fixed;
		max-height: 300px;
		width: auto;
		// background-color: purple;
		display: none;
		margin: auto;
	  // position: absolute;
	  	top: 0; left: 0; bottom: 0; right: 0;
	  	    background-size: contain!important;
	    background-repeat: no-repeat;
	  	// animation: spin 5s linear infinite;
		// background-image: url(assets/images/icons/spinner.svg);
	}
}
.home-page-spinner {
	width: 50%;
	height: auto;
	animation: spin 10s linear infinite;
	background-image: url(assets/images/icons/spinner.png);
	background-size: contain;
	margin: 0 auto;
	margin-bottom: 30px;
}
///////////////////////////////////
// Stories Slider
//////////////////////////////////

.slick-wrap {
	position: relative;
    overflow: hidden;
    height: 0;
    transition: all 1s ease;
    &.open {
    	height: 100%;
    	transition: all 1s ease;
    }
}

.stories-slick {
 
	.slick-prev {
	    position: absolute;
	    top: 50%;
	    left: 2%;
	    transform: translate(-50%, -50%);
	    width: 30px;
	    height: 50px;
	    background-image: url(assets/images/icons/prev.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 1000;
	    transform-origin: center;
	    &:before {
	    	content: '';
	    	display: none;
	    }
	    &:active {
	    	width: 34px;
	    	height: 48px;
	    	opacity: .8;
	    	transition: all .15s ease;
	    }
	    &:hover {
	    	 background-image: url(assets/images/icons/prev-flesh.svg);
	    }
	}
	.slick-next {
	    position: absolute;
	    top: 50%;
	    right: 0%;
	    transform: translate(-50%, -50%);
	       width: 30px;
	    height: 50px;
	    background-image: url(assets/images/icons/next.svg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 1000;
	    &:before {
	    	content: '';
	    	display: none;
	    }
	    &:active {
	    	width: 34px;
	    	height: 48px;
	    	opacity: .8;
	    	transition: all .15s ease;
	    }
	    &:hover {
	    	background-image: url(assets/images/icons/next-flesh.svg);
	    }
	}
}



///////////////////////////////////
// Hamburger Buttons
//////////////////////////////////

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 80px;
  position: absolute;
right: 10px;
top: 0px;
z-index: 1000;
}
.line {
  fill: none;
  stroke: $orange;
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), 
    stroke 600ms ease;

}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
  

}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 4;
 
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
 
}
.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
  stroke: $sapphire;
 
}
.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 4;
  stroke: $sapphire;
 
}
.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
  stroke: $sapphire;
 
}

