
// Colors
$green: #039681;
$blue: #517ab8;
$orange: #e76625;
$teal: #039681;
$yellow: #fca824;
$sapphire :#364fa3;
$flesh: #f2a677;
$jade: #1f9f8b;
.yellow {
	color: $yellow;
}

.orange {
	color: $orange;
}

.sapphire {
	color: $sapphire;
}

.sapphire-bg {
	background-color: $sapphire;
}

.teal {
	color: $teal;
}

.jade {
	color: $jade;
}